# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
env/

# Configuration Docker
*.log
docker-compose.override.yml

# Données sensibles
.env

# Fichiers spécifiques à l’éditeur
.vscode/
.idea/
*.swp

# Dépendances ou artefacts
*.sqlite3
*.db

